body {
	padding: 0;
	margin: 0;
	margin-top: 60px;
}

a {
	text-decoration: none;
	color: inherit;
}

.underline {
	border-bottom: 2px solid;
}

.indent {
	margin-left: 1em;
}

.hide {
	display: none;
}

.link:hover {
	color: white;
	cursor: pointer;
}

.link:hover .underline {
	border-bottom: 2px solid white;
}

/* -------------------
------- Nav ----------
--------------------*/

.nav {
	width: 100%;
	height: 60px;
	background: #4286f4;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 7;
}

.nav > h3 {
	font-family: "Lobster Two", times, serif;
	font-size: 24px;
	width: 200px;
	padding: 14px;
	margin-top: 0;
}

.nav-links {
	font-family: "Lobster Two";
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 60px;
	position: fixed;
	right: 0;
	top: 0;
}

.nav-links li {
	display: inline-block;
    padding: 19px 35px
}

.search-input {
	height: 23px;
}

.search-results-container {
  position: fixed;
  top: 42px;
  right: 390px;
  width: 122px;
  background: #4286f4;
  z-index: 6;
}

.logged-in-results {
	right: 505px;
	z-index: 6;
}

.search-result {
  border: 1px solid black;
  padding: 2px;
  z-index: 6;
}

.search-result:hover {
	color: white;
	font-size: 1.1em;
	cursor: pointer;
}

.search-button {
	width: 30px;
	height: 23px;
	margin-left: 5px;
}

.search-icon {
	width: 10px;
}

/* -------------------
------- end Nav ------
--------------------*/

/* -------------------
------- MainPage -----
--------------------*/

.main-page {
	margin-top: 100px;
}

.title {
	text-align: center;
}

.competition-cat {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 700px;
	margin: auto;
}

.competition-cat img {
	width: 280px;
	height: 500px;
	cursor: pointer;
	border: 1px solid black;
}

.add-to-favorites {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 700px;
	margin: auto;	
}

.add-to-favorites img {
	width: 30px;
	height: 30px;
	margin-top: 15px;
	cursor: pointer;
}

/* -------------------
---- end MainPage ----
--------------------*/

/* -------------------
------- Profile ------
--------------------*/

.profile {
	margin-top: 150px;
	display: flex;
	justify-content: space-between;
}

.profile-left-container {
	width: 35%;
}

.profile-user {
	background: #4286f4;
    width: 300px;
    height: 400px;
    margin-left: 50px;
    overflow: hidden;
}

.profile-user img {
	width: 200px;
	height: 200px;
	border: 1px solid black;
	margin: auto;
	margin-top: 30px;
	position: relative;
	display: block;
}

.profile-user h3 {
	font-size: 1.3em;
}

.profile-user h5 {
	margin-left: 49px;
	border: 1px solid black;
}

.profile-name-and-button {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	margin-bottom: 20px;
}

.profile-user button {
	margin-left: 10px;
	height: 20px;
	align-self: center;
	cursor: pointer;
}

.follow-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.follow-name {
	cursor: pointer;
}

.follow-number {
	margin-top: 10px;
	cursor: pointer;
}

.profile-friends {
	background: #4286f4;
    width: 300px;
    min-height: 300px;
    margin-left: 50px;
    margin-top: 50px;
}

.profile-friends h5 {
	cursor: pointer;
	color: white;
	margin-left: 5px;
}

.profile-friends h5:hover {
	position: relative;
	bottom: 2px;
	left: 1px;
}

.profile-right-container {
	width: 60%;
}

.my-options {
	display: flex;
	flex-wrap: nowrap;
	margin-left: 20px;
}

.my-options div {
	padding: 5px;
	font-family: helvetica;
	font-weight: bold;
	color: #4286f4;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-radius: 7px 7px 0 0;
	cursor: pointer;
	z-index: 2;
}

.white-underline {
	border-bottom: 3px solid white;
}

.black-underline {
	border: 1px solid black;
}

.folder {
	border: 1px solid black;
	z-index: 1;
	margin-top: -1px;
	padding-bottom: 20px;
	min-height: 350px;
}

.mycomments-container {
	border: 1px solid black;
	border-radius: 10px;
	width: 90%;
	margin: auto;
	margin-top: 20px;
	display: flex;
}

.profile-comment-info {
	width: 75%;
	display: inline-block;
}

.profile-cat-img {
	display: inline-block;
	width: 24%;
}

.profile-cat-img img {
	width: 100%;
}


/* -------------------
---- end Profile -----
--------------------*/

/* -------------------
------ Popular -------
--------------------*/

.popular-title {
	text-align: center;
	padding: 40px 0;
}

.popular-both-containers {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.popular-item-container {
	border: 1px solid black;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 15px;
	display: inline-block;
}

.popular-item-container > * {
	vertical-align: middle;
}

.popular-item-info {
	width: 45%;
	display: inline-block;
	margin-left: 2%;
}

.popular-item-name {
	margin-bottom: 0;
	margin-top: 10px;
	font-size: 26px;
}

.popular-item-user {
	margin-top: 0;
	margin-left: 5px;
}

.popular-item-img-container {
	display: inline-block;
	border: 1px solid black;
    width: 45%;
    margin-left: 2%;
}

.popular-item-img-container img {
	width: 100%;
	height: 220px;
}

.most-popular-cat-container {
	width: 45%;
}

.most-popular-cat {
	border: 1px solid black;
	/*width: 100%;*/
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	position: fixed;
	width: 45%;

}

.most-popular-cat-info {
	width: 47%;
	margin-left: 2%;
}

.num1-cat-img {
	width: 50%;
    height: 600px;
}

.trophy {
/*	margin: auto;*/
    position: absolute;
    left: 25%;
    transform: translateX(-50%);
    bottom: 50px;
	display: block;
	height: 300px;
}

.popular-cats-container {
	width: 40%;
}

/* -------------------
--- end of Popular ---
--------------------*/

/* -------------------
-------- Cat ---------
--------------------*/

.cat-page {
	margin-top: 100px;
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: space-around;
}

.cat-left-container {
	width: 42%;
}

.cat-right-container {
	width: 42%;
}

.leave-comment-container {
	padding: 10px;
	border: 2px dashed black;
}

.leave-comment-container button {
	position: relative;
	bottom: 5px;
	left: 3px;
}

.cat-info {
	border: 3px solid black;
	border-radius: 15px;
	padding-bottom: 20px;
}

.cat-info h2 {
	font-size: 30px;
	text-align: center;
}

.stats {
	display: flex;
	justify-content: space-around;
}

.cat-page-cat-image {
	margin-top: 20px;
	border: 1px solid black;
	border-radius: 15px;
	width: 100%;
}

/* -------------------
----- end of Cat -----
--------------------*/

/* -------------------
----- CatComment -----
--------------------*/

.cat-comment {
	border: 1px solid black;
	border-radius: 15px;
	margin-top: 25px;
	padding: 5px 10px;
}

.username {
	font-weight: bold;
	font-size: 1.1em;
	color: #f44242;
	cursor: pointer;
}

/* -------------------
-- end of CatComment -
--------------------*/


