body {
	padding: 0;
	margin: 0;
	margin-top: 60px;
}

a {
	text-decoration: none;
	color: inherit;
}

.underline {
	border-bottom: 2px solid;
}

.hide {
	display: none;
}

/* -------------------
------- Nav ----------
--------------------*/

.nav {
	width: 100%;
	height: 60px;
	background: #4286f4;
	position: fixed;
	top: 0;
	left: 0;
}

.nav > h3 {
	font-family: "Lobster Two", times, serif;
	font-size: 24px;
	width: 200px;
	padding: 14px;
	margin-top: 0;
}

.nav-links {
	font-family: "Lobster Two";
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 60px;
	position: fixed;
	right: 0;
	top: 0;
}

.nav-links li {
	display: inline-block;
    padding: 19px 35px
}

.nav-links li:hover {
	color: white;
	cursor: pointer;
}

/* -------------------
------- end Nav ------
--------------------*/

/* -------------------
------- MainPage -----
--------------------*/

.main-page {
	margin-top: 100px;
}

.title {
	text-align: center;
}

.competition-cat {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 700px;
	margin: auto;
}

.competition-cat img {
	width: 280px;
	height: 500px;
	cursor: pointer;
	border: 1px solid black;
}

/* -------------------
---- end MainPage ----
--------------------*/

/* -------------------
------- Profile ------
--------------------*/

.profile {
	margin-top: 150px;
	border: 1px solid black;
}

.profile-user {
	background: #4286f4;
    width: 300px;
    height: 400px;
    margin-left: 50px;
    overflow: hidden;
    border: 1px solid red;
}

.profile-user img {
	width: 200px;
	height: 200px;
	border: 1px solid black;
	margin: auto;
	margin-top: 30px;
	position: relative;
	display: block;
}

.profile-user h3, h5 {
	margin-left: 49px;
}

.follow-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.follow-name {
	cursor: pointer;
}

.follow-number {
	margin-top: 10px;
	cursor: pointer;
}

.profile-friends {
	background: #4286f4;
    width: 300px;
    min-height: 300px;
    margin-left: 50px;
    margin-top: 50px;
}

/* -------------------
---- end Profile -----
--------------------*/

/* -------------------
------ Popular -------
--------------------*/

.popular-title {
	text-align: center;
	padding: 40px 0;
}

.popular-both-containers {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.popular-item-container {
	border: 1px solid black;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 15px;
	display: inline-block;
}

.popular-item-container > * {
	vertical-align: middle;
}

.popular-item-info {
	width: 45%;
	display: inline-block;
	margin-left: 2%;
}

.popular-item-name {
	margin-bottom: 0;
	margin-top: 10px;
	font-size: 26px;
}

.popular-item-user {
	margin-top: 0;
	margin-left: 5px;
}

.popular-item-img-container {
	display: inline-block;
	border: 1px solid black;
    width: 45%;
    margin-left: 2%;
}

.popular-item-img-container img {
	width: 100%;
	height: 220px;
}

.most-popular-cat-container {
	width: 45%;
}

.most-popular-cat {
	border: 1px solid black;
	/*width: 100%;*/
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	position: fixed;
	width: 45%;

}

.most-popular-cat-info {
	width: 47%;
	margin-left: 2%;
}

.num1-cat-img {
	width: 50%;
    height: 600px;
}

.trophy {
	margin: auto;
	display: block;
	height: 300px;
}

.popular-cats-container {
	width: 40%;
}

/* -------------------
--- end of Popular ---
--------------------*/
